<textarea type="text" [(ngModel)]="characterURLs"></textarea>
<button type="button" (click)="onClick()">追加</button>
<br/>
<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>Lv.</th>
            <th>HP</th>
            <th>MP</th>
            <th>器用B</th>
            <th>敏捷B</th>
            <th>筋力B</th>
            <th>生命B</th>
            <th>知力B</th>
            <th>精神B</th>
            <th>使用Exp.</th>
            <th>現在Exp.</th>
            <th>所持金</th>
            <th>アイテム総計</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let character of charactersList">
            <td>{{character.data_title}}</td>
            <td>{{character.lv}}</td>
            <td>{{character.HP}}</td>
            <td>{{character.MP}}</td>
            <td>{{character.NB1}}</td>
            <td>{{character.NB2}}</td>
            <td>{{character.NB3}}</td>
            <td>{{character.NB4}}</td>
            <td>{{character.NB5}}</td>
            <td>{{character.NB6}}</td>
            <td>{{character.used_exp}}</td>
            <td>{{character.now_exp}}</td>
            <td>{{character.money}}</td>
            <td>{{character.price_all_sum}}</td>
        </tr>
    </tbody>
    <tfoot *ngIf="average">
        <tr>
            <td>平均</td>
            <td>{{average.lv | number : '1.1-1'}}</td>
            <td>{{average.HP | number : '1.1-1'}}</td>
            <td>{{average.MP | number : '1.1-1'}}</td>
            <td>{{average.NB1 | number : '1.1-1'}}</td>
            <td>{{average.NB2 | number : '1.1-1'}}</td>
            <td>{{average.NB3 | number : '1.1-1'}}</td>
            <td>{{average.NB4 | number : '1.1-1'}}</td>
            <td>{{average.NB5 | number : '1.1-1'}}</td>
            <td>{{average.NB6 | number : '1.1-1'}}</td>
            <td>{{average.used_exp | number : '1.0-0'}}</td>
            <td>{{average.now_exp | number : '1.0-0'}}</td>
            <td>{{average.money | number : '1.0-0'}}</td>
            <td>{{average.price_all_sum | number : '1.0-0'}}</td>
        </tr>
    </tfoot>
</table>
